<!--aside class="sider">
  <fieldset id="menu-game" class="wbox info">
<legend class="title">怀旧游戏</legend>
<div class="content gamelist">
  <a href="//emujs.nenge.net/?game=%E5%AE%9D%E5%8F%AF%E6%A2%A6%20-%20%E6%AF%94%E5%8D%A1%E8%B6%85.7z&amp;cores=gb"><img src="//emujs.nenge.net/roomimgs/%E5%AE%9D%E5%8F%AF%E6%A2%A6%20-%20%E6%AF%94%E5%8D%A1%E8%B6%85.png"><p>宝可梦 - 比卡超</p></a>
  <a href="//emujs.nenge.net/?game=%E5%AE%9D%E5%8F%AF%E6%A2%A6%20-%20%E6%B0%B4%E6%99%B6%E7%89%88ckn.7z&amp;cores=gb"><img src="//emujs.nenge.net/roomimgs/%E5%AE%9D%E5%8F%AF%E6%A2%A6%20-%20%E6%B0%B4%E6%99%B6%E7%89%88ckn.png"><p>宝可梦 - 水晶版ckn</p></a>
  <a href="//emujs.nenge.net/?game=%E4%B8%89%E5%9B%BD%E8%8B%B1%E9%9B%84%E4%BC%A0%20-%20%E5%82%B2%E8%A7%86%E5%A4%A9%E4%B8%8B.7z&amp;cores=gb"><img src="//emujs.nenge.net/roomimgs/%E4%B8%89%E5%9B%BD%E8%8B%B1%E9%9B%84%E4%BC%A0%20-%20%E5%82%B2%E8%A7%86%E5%A4%A9%E4%B8%8B.png"><p>三国英雄传 - 傲视天下</p></a>
  <a href="//emujs.nenge.net/?game=%E5%8B%87%E8%80%85%E6%96%97%E6%81%B6%E9%BE%99%20-%20%E6%80%AA%E5%85%BD%E4%BB%99%E5%A2%83.7z&amp;cores=gbc"><img src="//emujs.nenge.net/roomimgs/%E5%8B%87%E8%80%85%E6%96%97%E6%81%B6%E9%BE%99%20-%20%E6%80%AA%E5%85%BD%E4%BB%99%E5%A2%83.png"><p>勇者斗恶龙 - 怪兽仙境</p></a>
  <a href="//emujs.nenge.net/?game=%E9%87%8D%E8%A3%85%E6%9C%BA%E5%85%B5(%E4%B8%AD%E6%96%87).7z&amp;cores=nes"><img src="//emujs.nenge.net/roomimgs/%E9%87%8D%E8%A3%85%E6%9C%BA%E5%85%B5.png"><p>重装机兵(中文)</p></a>
  <a href="//emujs.nenge.net/?game=%E7%AC%AC%E4%B8%89%E6%AC%A1%E8%B6%85%E7%BA%A7%E6%9C%BA%E5%99%A8%E4%BA%BA%E5%A4%A7%E6%88%98sfc.7z&amp;cores=snes"><img src="//emujs.nenge.net/roomimgs/%E7%AC%AC%E4%B8%89%E6%AC%A1%E8%B6%85%E7%BA%A7%E6%9C%BA%E5%99%A8%E4%BA%BA%E5%A4%A7%E6%88%98sfc.png"><p>第三次超级机器人大战sfc</p></a>
</div>
</fieldset>
</aside -->