$maxWidth: 1140px;
$mobileWidth: 767px;
$fontFace: 'FontAwesome';
$border-gray:1px solid #ebebeb;

body {
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
}
[hidden] {
    display: none !important;
}
#header {
    background-color: #fff;
    border-bottom: #{$border-gray};
    @media screen and (max-width: #{$mobileWidth}) {
        padding-top: 5px;
    }
    @media screen and (min-width: #{$mobileWidth+1}) {
        padding: 5px 0px;
    }
    >nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        >h1{
            order: 1;
            padding: 0px;
            margin: 0px 0px 0px 30px;
            text-align: center;
            flex-grow: 1;
            >a{
                font-weight: bold;
                text-decoration: none;
                color: #0095ff;
            }
            @media screen and (min-width: #{$mobileWidth+1}) {
                display: none;
            }
        }
    }
    .menu-toggle {
        @media screen and (min-width: #{$mobileWidth+1}) {
            display: none;
        }
        @media screen and (max-width: $mobileWidth) {
            display: block;
            appearance: none;
            order: 2;
            border: none;
            background: transparent;
            width: 30px;
            margin: 5px;
            padding: 5px;
            aspect-ratio: auto 30 / 30;
            &.active {
                span {
                    transform: rotate(45deg);

                    &:before {
                        top: 0;
                        transform: rotate(-90deg);
                    }

                    &:after {
                        top: 0;
                        transform: rotate(-90deg);
                        width: 0px;
                    }
                }
            }
            &:not([class~='active']) {
                & ~ ol {
                    height: 0px;
                    transform: scaleY(0);
                    overflow: hidden;
                }
                & + a {
                    display: block;
                    flex-grow: 1;
                    text-align: center;
                    margin-right: 30px;
                    text-decoration: none;
                    font-weight: bold;
                    color: #40aab5;
                }
            }
            span {
                color: #1e293b;
                height: 2px;
                width: 1.25em;
                background: #000;
                border-radius: 10px;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s, opacity 0s 0.3s;

                &:after,
                &:before {
                    content: '';
                    display: block;
                    height: inherit;
                    width: inherit;
                    border-radius: inherit;
                    background: #000;
                    position: absolute;
                    left: 0;
                    transition: inherit;
                }

                &:before {
                    top: -0.45em;
                }

                &:after {
                    bottom: -0.45em;
                }
            }
        }
    }
    .menu-nav{
        display: flex;
        padding: 0px;
        margin: 0px;
        list-style: none;
        order: 3;
        > li {
            > a {
                font-weight: bold;
                text-decoration: none;
                color: #0095ff;
                @supports (background-clip: text) or (-webkit-background-clip: text) {
                    color: transparent;
                    background-image: linear-gradient(45deg, #0095ff, #3ce9c9);
                    -webkit-background-clip: text;
                }
                background-size: 100% 30px;
                user-select: none;
                &::before{
                    font-weight: normal;
                    font-style: normal;
                    margin-right: 0.15em;
                    vertical-align: -0.125rem;
                    font-family: 'FontAwesome';
                }
                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transition: transform 0.2s ease-in-out;
                        transform-origin: bottom left;
                    }
                }
            }

            .home::before {
                content: '\f015';
            }

            .emu-down::before {
                content: '\f0c6';
            }

            .emu-talk::before {
                content: '\f085';
            }

            .jekyll::before {
                content: '\f299';
            }
        }
        @media screen and (max-width: $mobileWidth) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            width: 100%;
            transition: all 0.5s;
            border-top: #{$border-gray};
            >li{
                margin: 10px 10px 0px;
                padding: 0px 0px 10px;
                font-size: 1rem;
                text-align: center;
                &:not(:last-child){
                    border-bottom: 1px dashed #ccc;
                }
                &:first-child{
                    display: none;
                }
            }
        }
        @media screen and (min-width: #{$mobileWidth + 1}) {
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            >li{
                font-size: 1.5rem;
                margin: 5px;
                padding: 0.5em;
                border: 1px solid #6e6e6e30;
                border-radius: 0.25em;
                >a{                    
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        height: 4px;
                        background: #0d98f5;
                        width: 100%;
                        transition: all 0.2s ease-in-out;
                        transform: scaleX(0) translate3d(0, 0, 0);
                        transform-origin: bottom right;
                    }
                }
            }
        }

    }
}
#footer {
    border-top: #{$border-gray};
    color: #727272;
    background-color: #fff;
    padding: 5px 5px 20px;
    text-align: center;
    margin: auto;
    font-size: 0.625rem;
    user-select: none;
    -webkit-user-select: none;

    a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }
}
#index-page{
    width: 98%;
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.databox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 5px 0px;
    .btn {
        border-radius: 5px;
        margin: 2px 3px;
        padding: 2px 5px;
        outline: none;
        border: 1px solid #000;
        background-image: linear-gradient(0deg, #1c88c9, #3caeeb);
        color: #fff;
        touch-action: none;
        user-select: none;
        &[disabled] {
            background: #e2eded;
            color: #5594cb;
        }
        &:hover {
            background-image: linear-gradient(0deg, #009fff, #a6daf5);
        }
    }
    .input {
        border-radius: 5px;
        outline: none;
        border: 1px solid #4f9eeb;
        font-size: 14px;
        padding: 3px 2px;
        margin: 2px;
        width: -webkit-fill-available;
        &:not([disabled]) {
            background-color: #67c1f321;
        }
        &[disabled] {
            background: #d5d2d2;
            border-color: #c1c5c9;
            color: #777276;
        }
    }
    > .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        > .title {
            margin: 0px;
            color: #3689d1;
        }
    }
    > .content {
        video {
            max-width: 100%;
        }
        &.center {
            text-align: center;
        }
        .article {
            margin: 4px 0px;
            padding-left: 1em;
            list-style: none;
            > li {
                &::before {
                    font-family: #{$fontFace};
                    content: '\f0f6';
                    color: #1c90d7;
                    margin-right: 3px;
                }
                a {
                    color: #1c90d7;
                    text-decoration: none;
                    transition: all 0.5s;
                }
                a:hover {
                    color: #000;
                }
            }
        }
        > .tag {
            margin: 4px 0px;
            padding-left: 1em;
            list-style: none;
            li::before {
                font-family: #{$fontFace};
                content: '\f292';
                color: #1c90d7;
            }
            li {
                a {
                    color: #1c90d7;
                    font-weight: bold;
                }
            }
        }
        > .app-icon {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0px;
            padding-left: 1em;
            list-style: none;
            > li {
                width: 80px;
                text-align: center;
                > a {
                    text-decoration: none;
                    > .img {
                        color: #b8f953;
                        font-family: #{$fontFace};
                        font-size: 36px;
                        display: block;
                        margin: 5px auto;
                        text-shadow: 0px 0px 5px #2b2d2a;
                    }
                    > .a {
                        color: #000;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                &:hover {
                    background-color: rgb(218, 218, 218);
                    > a {
                        > .a,
                        > .img {
                            color: rgb(236, 119, 24);
                        }
                    }
                }
            }
        }
    }
    > .foot {
        > nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a {
                text-decoration: none;
                display: block;
                margin-right: 10px;
                border: 1px dashed #ccc;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover {
                    background-color: #ccc;
                    color: #fff;
                }
            }
        }
    }
}
.warning-text {
    display: block;
    padding: 1em;
    background-color: #e76464;
    border-radius: 5px;
    border: 1px dashed #000;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.table {
    margin: 2px;
    border-collapse: unset;
    border: 0px;
    table-layout: fixed;

    tbody {
        width: 100%;
        overflow-x: auto;
    }

    a {
        text-decoration: none;
        color: #0098e9;
    }

    &.center {
        text-align: center;
    }

    td,
    th {
        border: 1px solid #ccc;
        line-height: 200%;
        padding-left: 8px;
        padding-right: 8px;
    }

    > thead > tr,
    > tr,
    > tbody > tr {
        th {
            background: #c1c5c9;
            color: #fff;
            line-height: 100%;
        }

        &:first-child th:last-child {
            border-top-right-radius: 10px;
            padding: 10px;
        }

        &:first-child th:first-child {
            border-top-left-radius: 10px;
        }
    }

    &.dark {
        background: #343a40;
        border-collapse: collapse;
        border: none;

        tr:nth-child(odd) {
            background-color: #ffffff0d;
        }

        tr:nth-child(even) {
            background: none;
        }

        td,
        th {
            border: 1px solid #454d55;
            background: transparent;
            padding: 12px;
            color: #fff;
            font-size: 12px;
        }

        > thead > tr,
        > tr,
        > tbody > tr {
            th {
                background: transparent;
                line-height: 200%;
            }

            &:first-child th:last-child {
                padding: 12px;
            }
        }
    }
}

.wbox{
    --wb-bgc:#fff;
    --wb-c:#fff;
    --wb-c-balck:#000;
    --wb-c-link:#007bff;
    --wb-c-dark:#282834;
    --wb-c-org:#856404;
    --wb-c-blue:#155724;
    --wb-radius:5px;
    --wb-title-size:var(--fontsize-h3);
    --wb-text-size:var(--fontsize-text);
    --wb-base-wc: #bdbdd9;
    --wb-base-wc2:#b7c4cb;
    --wb-base-ws: 0 3px 5px #787b7d80;
    --wb-info-wc: #20a0ff;
    --wb-info-wc2:#20b8ff;
    --wb-info-ws: 0 3px 5px #20a0ff80;
    --wb-warn-wc: #ff953f;
    --wb-warn-wc2:#ffb449;
    --wb-warn-ws: 0 3px 5px #ff9a4980;
    --wb-succ-wc: #61be33;
    --wb-succ-wc2:#8fce44;
    --wb-succ-ws: 0 3px 5px #68c33b80;
    --wb-erro-wc: #ff4949;
    --wb-erro-wc2:#ff7849;
    --wb-erro-ws: 0 3px 5px #ff494980;
    --wb-org-wc: #fff3cd;
    --wb-org-wc2:#ffa67b;
    --wb-org-ws: 0 3px 5px #ffb08680;
    --wb-blue-wc: #d4edda;
    --wb-blue-wc2:#cce1a3;
    --wb-blue-ws: 0 3px 5px #cfe8c080;
    border-radius: var(--wb-radius);
    margin: 10px 2px;
    padding:2px;
    border:1px solid var(--wb-base-wc);
    background:var(--wb-base-wc) linear-gradient(90deg,var(--wb-base-wc),var(--wb-base-wc2));
    box-shadow:var(--wb-base-ws);
    text-align: left;
    word-break: break-all;
    color:var(--wb-c-balck);
    a{text-decoration: none;}
    >a,>.title>a{color:var(--wb-c-balck) !important;}
    >.title{
      margin: 0px;
      line-height: 150%;
      font-size: var(--wb-title-size);
      color:var(--wb-c-balck);
      &:before{
        font-family:var(--fontface-icon) !important;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0px 2px;
        content: "\e605";
      }
    }
    >.content{
      font-size: var(--wb-text-size);
      padding: 5px;
      margin: 0px;
      background: var(--wb-bgc);
      color: var(--wb-c-balck);
      a{color: var(--wb-c-balck);}
      >p{
        text-indent:15px;
      }
    }
    .pl-15{
      padding-left: 15px;
    }
    &.info{
      border-color: var(--wb-info-wc);
      background: var(--wb-info-wc) linear-gradient(90deg,var(--wb-info-wc),var(--wb-info-wc2));
      box-shadow: var(--wb-info-ws);
      color: var(--wb-c);
      >.title,>a,>.title>a{color: var(--wb-c) !important;}
      >.title{&:before{content: "\e60b";}}
      >.content{color: var(--wb-c-dark) !important;}
      >.content a{color: var(--wb-c-link);}
    }
    &.warn{
      border-color: var(--wb-warn-wc);
      background:var(--wb-warn-wc) linear-gradient(90deg,var(--wb-warn-wc),var(--wb-warn-wc2));
      box-shadow:var(--wb-warn-ws);
      color: var(--wb-c);
      >.title,>a,>.title>a{color: var(--wb-c) !important;}
      >.title{&:before{content: "\e612";}}
      >.content a{color: var(--wb-c-link);}
    }
    &.success {
      border-color: var(--wb-succ-wc);
      background:var(--wb-succ-wc) linear-gradient(90deg,var(--wb-succ-wc),var(--wb-succ-wc2));
      box-shadow: var(--wb-succ-ws);
      color: var(--wb-c);
      >.title,>a,>.title>a{color: var(--wb-c) !important;}
      >.title{&:before{content: "\e611";}}
      >.content a{color: var(--wb-c-link);}
    }
    &.error {
      border-color: var(--wb-erro-wc);
      background:var(--wb-erro-wc) linear-gradient(90deg,var(--wb-erro-wc),var(--wb-erro-wc2));
      box-shadow:var(--wb-erro-ws);
      color: var(--wb-c);
      >.title,>a,>.title>a{color: var(--wb-c) !important;}
      >.title{&:before{content: "\e603";}}
      >.content a{color: var(--wb-c-link);}
    }
    &.org {
      border-color: var(--wb-org-wc);
      background:var(--wb-org-wc) linear-gradient(90deg,var(--wb-org-wc),var(--wb-org-wc2));
      box-shadow:var(--wb-org-ws);
      color: var(--wb-c-org);
      >a,>.title>a{color: var(--wb-c-link) !important;}
      >.title{&:before{content: "\e6b3";color: var(--wb-c-org);}}
      >.content a{color: var(--wb-c-link);}
    }
    &.blue {
      border-color: var(--wb-blue-wc);
      background:var(--wb-blue-wc) linear-gradient(90deg,var(--wb-blue-wc),var(--wb-blue-wc2));
      box-shadow:var(--wb-blue-ws);
      color: var(--wb-c-blue);
      >a,>.title>a{color: var(--wb-c-link) !important;}
      >.title{&:before{content: "\e6b3";color: var(--wb-c-blue);}}
      >.content a{color: var(--wb-c-link);}
    }
  }
fieldset.wbox{
    background: var(--wb-bgc) !important;
    border-width: 2px;
    >legend.title{
      border-radius: var(--wb-radius);
      background: var(--wb-bgc) !important;
      border:2px solid var(--wb-base-wc);
      margin: 0px 0px 0px 10px !important;
      padding: 0px 3px !important;
      color: var(--wb-c-dark);
    }
    >legend.title>a{
      color: var(--wb-c-dark);
    }
    &.info>legend.title{color: var(--wb-info-wc) !important;border-color: var(--wb-info-wc);}
    &.warn>legend.title{color: var(--wb-warn-wc) !important;border-color: var(--wb-warn-ws-wc);}
    &.success>legend.title{color: var(--wb-succ-wc) !important;border-color: var(--wb-succ-wc);}
    &.error>legend.title{color: var(--wb-erro-wc) !important;border-color: var(--wb-erro-wc);}
    &.info>a,&.info>.title>a{color: var(--wb-info-wc) !important;}
    &.warn>a,&.warn>.title>a{color: var(--wb-warn-wc) !important;}
    &.success>a,&.success>.title>a{color: var(--wb-succ-wc) !important;}
    &.error>a,&.error>.title>a{color: var(--wb-erro-wc) !important;}
  }